# Dependencies
node_modules/

# Next.js
.next/
out/

# Env
.env
.env*.local

# Debug
npm-debug.log*
.DS_Store

# Prisma
# Keep migrations; ignore generated client cache if any local

# IDE
.idea/
.vscode/
